CONFIG_TARGET_sunxi=y
CONFIG_TARGET_sunxi_cortexa7=y
CONFIG_TARGET_sunxi_cortexa7_DEVICE_kooiot_tlink-m416=y
CONFIG_KERNEL_DEVTMPFS=y
CONFIG_KERNEL_IO_URING=y
# CONFIG_LIBCURL_UNIX_SOCKETS is not set
CONFIG_LUCI_LANG_zh_Hans=y
# CONFIG_OPENSSL_ENGINE_BUILTIN is not set
# CONFIG_OPENSSL_WITH_IDEA is not set
# CONFIG_OPENSSL_WITH_MDC2 is not set
# CONFIG_OPENSSL_WITH_SEED is not set
# CONFIG_OPENSSL_WITH_SM234 is not set
# CONFIG_OPENSSL_WITH_WHIRLPOOL is not set
CONFIG_PACKAGE_factory-tlink=m
# CONFIG_PACKAGE_freeioe is not set
# CONFIG_PACKAGE_ip-full is not set
# CONFIG_PACKAGE_kmod-can-bcm is not set
# CONFIG_PACKAGE_kmod-can-raw is not set
CONFIG_PACKAGE_kmod-dp83848-phy=y
CONFIG_PACKAGE_kmod-nf-nat6=y
CONFIG_PACKAGE_kmod-usb-hub-251xb=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ether=y
CONFIG_PACKAGE_kmod-usb-net-cdc-mbim=y
CONFIG_PACKAGE_kmod-usb-net-cdc-ncm=y
# CONFIG_PACKAGE_libbpf is not set
# CONFIG_PACKAGE_libelf is not set
CONFIG_PACKAGE_libiwinfo-lua=y
# CONFIG_PACKAGE_liblucihttp-lua is not set
CONFIG_PACKAGE_libopenssl-v1=y
# CONFIG_PACKAGE_libubus-lua is not set
# CONFIG_PACKAGE_libwolfssl is not set
# CONFIG_PACKAGE_lua is not set
# CONFIG_PACKAGE_luci-app-freeioe is not set
CONFIG_PACKAGE_luci-i18n-base-zh-cn=y
CONFIG_PACKAGE_luci-i18n-firewall-zh-cn=y
CONFIG_PACKAGE_luci-i18n-package-manager-zh-cn=y
CONFIG_PACKAGE_luci-i18n-ser2net-zh-cn=y
# CONFIG_PACKAGE_luci-lib-base is not set
# CONFIG_PACKAGE_luci-lib-ip is not set
# CONFIG_PACKAGE_luci-lib-jsonc is not set
# CONFIG_PACKAGE_luci-lib-nixio is not set
# CONFIG_PACKAGE_luci-lua-runtime is not set
# CONFIG_PACKAGE_process-monitor is not set
CONFIG_PACKAGE_robot-client=m
CONFIG_PACKAGE_robot-pong=m
CONFIG_PACKAGE_robot-server=m
# CONFIG_PACKAGE_skynet is not set
CONFIG_PACKAGE_symlink-openssl-v1=y
CONFIG_PACKAGE_symlink-projects-symgrid-com=y
CONFIG_PACKAGE_symlink-psn=y
# CONFIG_PACKAGE_ucode-mod-lua is not set
CONFIG_PACKAGE_wpad-basic-mbedtls=y
# CONFIG_PACKAGE_wpad-basic-wolfssl is not set
CONFIG_SUNXI_SD_BOOT_PARTSIZE=20
CONFIG_TARGET_ROOTFS_PARTSIZE=256
# CONFIG_WOLFSSL_HAS_OPENVPN is not set
# CONFIG_WPA_WOLFSSL is not set
