CONFIG_TARGET_rockchip=y
CONFIG_TARGET_rockchip_armv7=y
CONFIG_TARGET_rockchip_armv7_DEVICE_vanxoak_vx-hd-rk3506-iot-spinand=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BRCMFMAC_PCIE=y
CONFIG_BRCMFMAC_SDIO=y
CONFIG_BRCMFMAC_USB=y
CONFIG_BUSYBOX_CONFIG_BC=y
CONFIG_DRIVER_11AC_SUPPORT=y
CONFIG_PACKAGE_brcmfmac-firmware-usb=y
CONFIG_PACKAGE_kmod-brcmfmac=y
CONFIG_PACKAGE_kmod-brcmutil=y
CONFIG_PACKAGE_kmod-phy-realtek=y
CONFIG_PACKAGE_kmod-rtc-hym8563=y
CONFIG_PACKAGE_kmod-rtc-sd3078=y
CONFIG_PACKAGE_libreadline=y
# CONFIG_TARGET_ROOTFS_EXT4FS is not set
CONFIG_TARGET_ROOTFS_PARTSIZE=100
